:root{
    --var-bg-color :linear-gradient(to left ,rgb(7, 32, 70) ,rgb(11, 18, 77));
    --var-bg-light-color : rgb(73, 172, 243);
    --background-image :linear-gradient(rgba(0, 0, 0, 0.171),rgba(0, 0, 0, 0.748)),url(../images/background.jpeg);
    --var-color-white :white;
    --var-Roboto-font :'Roboto', sans-serif;
    --var-poppins-font : 'Poppins', sans-serif;
    --var-light-shadow :  0 0 20px rgba(171, 169, 169, 0.459);
    --var-dark-shadow : 0 0 10px rgba(0, 0, 0, 0.477);
    --button-radius  : 5px;
    --button-colors : rgb(53, 141, 255);
    --var-input-border : 1px solid rgba(0, 0, 0, 0.534);
    --var-heading-clor :  rgb(11, 37, 82);
    --var-nav-bg-mobile : linear-gradient(to left , rgb(17, 75, 137) ,var(--var-bg-light-color));
    --var-extra-light-shadow :0 0 10px rgba(128, 128, 128, 0.236);
    /* animations variables */
    --var-paragraph-animation : paragraph 1.5s;
    --var-heading-animation :  heading 1.5s ;
    --var-image-animation-zoom :  imagezoom 1.5s ;
    --var-left-slide : leftslide 1.3s ;
}
/* variables */
body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sign-up{
    height: 100vh;
    background: var(--background-image);
    position: fixed;
    width: 100%;
    overflow: hidden;

}
/* sign-up-container */
.container-signup{
       min-height: 500px;
       height: auto;
       background-color: var(--var-color-white );
       max-width: 700px;
       margin: auto;
       position: relative;
       top: 10%;
       border-radius: 5px;
       display: grid;
       grid-template-columns: 350px 350px;
}
/* text */
.text-sign-up{
    background-color: black;
}