@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* poppins link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
    --var-bg-color :linear-gradient(to left ,rgb(7, 32, 70) ,rgb(11, 18, 77));
    --var-bg-light-color : rgb(73, 172, 243);
    --background-image :linear-gradient(rgba(0, 0, 0, 0.171),rgba(0, 0, 0, 0.748)),url(../images/background.jpeg);
    --var-color-white :white;
    --var-Roboto-font :'Roboto', sans-serif;
    --var-poppins-font : 'Poppins', sans-serif;
    --var-light-shadow :  0 0 20px rgba(171, 169, 169, 0.459);
    --button-radius  : 5px;
    --button-colors : rgb(53, 141, 255);
    --var-input-border : 1px solid rgba(0, 0, 0, 0.534);
    --var-heading-clor :  rgb(11, 37, 82);
    /* animations variables */
    --var-paragraph-animation : paragraph 1.5s;
    --var-heading-animation :  heading 1.5s ;
    --var-image-animation-zoom :  imagezoom 1.5s ;
}
/* scroll bar css */
::-webkit-scrollbar {
    width: 10px;
    background: var(--var-bg-color);
  }
::-webkit-scrollbar-thumb
{
    background-color:var(--var-bg-light-color);
    border-radius:50% ;
}
/* scroll bar css ends */
*{
    font-family: var(--var-Roboto-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  overflow-x: hidden;
  width: 100%;
  height: 100%;   
}

/* hero banner css */
.banner-container
{
    backface-visibility: hidden;
    height: auto;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background:var(--background-image);
    background-position: center;
    
}
.navbar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    box-sizing: border-box;
}
.navbar-next
{
  background-color: var(--var-color-white);
  position: fixed;
  width: 100%;
  animation: fade 1.2s;
  z-index: 1000;
}
@keyframes fade {
    from
    {
        opacity: 0;
        transform: perspective(50%);
    }
    to
    {
        opacity: 1;
    }
}
.a a{
    color: black!important;
}


.brand{
    font-size: 25px;
    padding: 10px;
    display: flex;
    position: relative;
    left: 50px;
    font-family: var(--var-poppins-font);
    font-weight: bolder;
    color: var(--var-color-white);
}
.brand a {
    position: relative;
    text-decoration: none;
    color:var(--var-color-white);
    padding: 10px;
    font-size: 30px;
}
.brand img{
    filter: brightness(300%);
}

.links>ul{
    display: flex;
    padding: 10px;
    list-style: none;
}
.page-links{
    padding: 10px;
    margin-left: 10px;
    color: white;
    font-weight: 400;
  
}
.page-links > a , .register-link > a{
    color: white;
    font-family: var(--var-poppins-font);
  
    text-decoration: none;
}
.button>ul{
    display: flex;
    padding: 10px;
    list-style: none;
}
.button > ul >li{
    margin-left: 10px;
    padding: 10px;
}
.get-started-link > a{
    background: var(--button-colors);
    padding: 10px;
    color: var(--var-color-white);
    font-family:var(--var-poppins-font);
    text-decoration: none;
    box-shadow:var(--var-light-shadow);
    border-radius:var(--button-radius);

}

/* hero banner section*/
.hero-banner{
    padding: 30px;
    width: auto;
    display: grid;
    height:800px;
    overflow: hidden;
    grid-template-columns:auto auto;
    column-gap: 200px;
}
.hero-text{
    padding: 10px;
    position: relative;
    width: 600px;
    top: 60px;
    font-family: var(--var-poppins-font);
}
.hero-text > h1{
    color: var(--var-color-white);
    font-family:var(--var-poppins-font);
    font-weight: bolder;
    animation: var(--var-heading-animation);
    font-size:85px;
    white-space: nowrap;
    padding: 10px;

}
@keyframes heading{
    from{
        opacity: 0;
        transform: translate(-50%);
    }
    to
    {
        opacity: 1;
    }
}
.hero-text > p{
    padding: 10px;
    font-size: 15px;
    color: white;
    animation:var(--var-paragraph-animation) ;
    font-family: var(--var-poppins-font);
}
@keyframes paragraph
{
    from{
        opacity: 0;
        transform: translate(50%);
    }
    to
    {
        opacity: 1;
    }

}
.hero-text button{
    background: var(--button-colors);
    padding: 10px;
    color: var(--var-color-white);
    font-family:var(--var-poppins-font);
    text-decoration: none;
    animation: var(--var-paragraph-animation);
    box-shadow:var(--var-light-shadow);
    border-radius:var(--button-radius);
    border:none;
}
.hero-text input{
    width: 400px;
    padding: 10px;
    animation:var(--var-heading-animation);
    border:var(--var-input-border);
    border-radius: var(--button-radius);
    box-shadow: var(--var-light-shadow);
}
.hero-text form{
    margin-top: 25px;
}
.hero-text input::placeholder
{
   color: grey;
   padding: 10px;
}
.labels
{
    padding: 10px;
    margin-top: 10px;
}
.labels > ul {
    display: flex;
    list-style: none;
}

.labels > li{
    margin-left: 20px;
}
.labels p{
    margin-left: 20px;
    color: var(--var-color-white);
    animation: var(--var-image-animation-zoom);
}
/* banner image */
.hero-image
{
        width:100%;
        position: relative;
        bottom: 40px;
 }
 .hero-image >img{
   
    object-fit: contain;
    min-height:100%;
    height: auto;

    animation:var(--var-image-animation-zoom);
    width: 100%;
    padding: 10px;
    object-position: center;
    position: relative;

    filter: drop-shadow(--var-light-shadow);
 }
@keyframes imagezoom{
    from{
        opacity: 0;
        transform:scale(1.2);
    }
    to
    {
        opacity: 1;
    }
}
 /* bottom tags */
 .bottom-tags
 {  display: grid;
    grid-template-columns:auto auto auto auto ;
    justify-content: center;
    column-gap: 200px;
    position: relative;
    right: 50px;
    font-family: var(--var-poppins-font);
    font-size: 18px;
    row-gap: 20px;
    bottom: 60px;   
    color: var(--var-color-white);
    white-space: nowrap;
 }

 .company{
    width: 30px;
    text-align: center;
    margin-left: 10px;
    animation: var(--var-heading-animation);
    padding: 10px;
    color: var(--var-color-white);
 }
 .bottom-text  p{
    color: var(--var-color-white);
    animation: var(--var-image-animation-zoom);
    font-family: var(--var-poppins-font);
 }
 /* offer section */

 .offer-container
 {
    height: 700px;
    padding: 30px;
    position: relative;
    top: 40px;
}

.offer-text h1{
    text-align: center;
    font-family: var(--var-poppins-font);
    color:var(--var-heading-clor);
    font-size: 45px;
    padding: 10px;
}

.offer-text p {
    text-align: center;
    width: 600px;
}