@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* poppins link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
    --var-bg-color :linear-gradient(to left ,rgb(7, 32, 70) ,rgb(11, 18, 77));
    --var-bg-light-color : rgb(73, 172, 243);
    --background-image :linear-gradient(rgba(0, 0, 0, 0.171),rgba(0, 0, 0, 0.748)),url(../images/background.jpeg);
    --var-color-white :white;
    --var-Roboto-font :'Roboto', sans-serif;
    --var-poppins-font : 'Poppins', sans-serif;
    --var-light-shadow :  0 0 20px rgba(171, 169, 169, 0.459);
    --var-dark-shadow : 0 0 10px rgba(0, 0, 0, 0.477);
    --button-radius  : 5px;
    --button-colors : rgb(53, 141, 255);
    --var-input-border : 1px solid rgba(0, 0, 0, 0.534);
    --var-heading-clor :  rgb(15, 56, 127);
    --var-nav-bg-mobile : linear-gradient(to left , rgb(17, 75, 137) ,var(--var-bg-light-color));
    --var-extra-light-shadow :0 0 10px rgba(128, 128, 128, 0.236);
    /* animations variables */
    --var-paragraph-animation : paragraph 1.5s;
    --var-heading-animation :  heading 1.5s ;
    --var-image-animation-zoom :  imagezoom 1.5s ;
    --var-left-slide : leftslide 1.3s ;
}
/* scroll bar css */
::-webkit-scrollbar {
    width: 10px;
    background: var(--var-bg-color);
  }
::-webkit-scrollbar-thumb
{
    background-color:var(--var-bg-light-color);
    border-radius:10px ;
}
/* scroll bar css ends */
*{
    font-family: var(--var-Roboto-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{

  width: 100%;
  height: 100%;   
}

/* hero banner css */
.banner-container
{
    backface-visibility: hidden;
    height: auto;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background:var(--background-image);
    background-position: center;
    
}
.navbar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    box-sizing: border-box;
}
.navbar-next
{
  background-color: var(--var-color-white);
  position: fixed;
  width: 100%;
  box-shadow: var(--var-dark-shadow);
  animation: fade 1.2s;
  z-index: 1000;
  height: 90px;
}
@keyframes fade {
    from
    {
        opacity: 0;
        transform: perspective(50%);
    }
    to
    {
        opacity: 1;
    }
}
.a a{
    color: black!important;
}


.brand{
    font-size: 25px;
    padding: 10px;
    display: flex;
    position: relative;
    left: 50px;
    font-family: var(--var-poppins-font);
    font-weight: bolder;
    color: var(--var-color-white);
}
.brand a {
    position: relative;
    text-decoration: none;
    color:var(--var-color-white);
    padding: 10px;
    font-size: 30px;
}
.brand img{
    filter: brightness(300%);
}

.links>ul{
    display: flex;
    padding: 10px;
    list-style: none;
}
.page-links{
    padding: 10px;
    margin-left: 10px;
    color: white;
    font-weight: 400;
  
}
.page-links > a , .register-link > a{
    color: white;
    font-family: var(--var-poppins-font);
  
    text-decoration: none;
}
.button>ul{
    display: flex;
    padding: 10px;
    list-style: none;
}
.button > ul >li{
    margin-left: 10px;
    padding: 10px;
}
.get-started-link > a{
    background: var(--button-colors);
    padding: 10px;
    color: var(--var-color-white);
    font-family:var(--var-poppins-font);
    text-decoration: none;
    box-shadow:var(--var-light-shadow);
    border-radius:var(--button-radius);

}
.toggle-button{
    display: none;
}
.close-button{
    display: none;
}
/* media query for navbar */
@media  (max-width:760px) {
    
    .button{
        position: relative;
        left: 20px;
    }
    .toggle-button{
        display: block;            
        padding: 10px 50px!important;    
        position: relative;
        bottom: 10px;
    }

    .close-button
    {
        display: block;
        border-bottom:transparent!important;
        justify-content: end;
    }
    .close-button a
    {
        padding: 10px 20px;
        border: 2px solid white;
        box-shadow:var(--var-dark-shadow);
        color: var(--var-color-white);
        font-weight: bolder;
        position: relative;
        bottom: 10px;
        right: 10px;
        text-align: center;
        
    }
    .close-button a :hover{
        background-color: var(--button-colors);
    }
    .navbar{
        display: block;
        
    }
    .links{
        background:var(--var-nav-bg-mobile);
        position: fixed;
        display: none;
        z-index: 10000;
        height: 100%;
        margin: 0;
        padding: 10px;
        right: 10px;
        top: 0;
        width: 100%;
        animation: var(--var-left-slide);
    }
    .links>ul{
        
        display: block;
        padding: 10px;
        list-style: none;
    }
    .links li {
        width: 350px;
        margin: 10px;
        padding: 10px;  
        border-bottom: 1px solid var(--var-color-white);
    }
    .page-links>a{
        font-size: 25px;
        padding: 10px;
       
        margin-top: 10px;
    }

    @keyframes leftslide {
        from
        {
            opacity: 0;
            transform: translate(-100%);
        }
        to
        {
            opacity: 1;
        }
    }
    .get-started-link a{
        white-space: nowrap;
    }
    .brand{
        position: relative;
        left:50px;
    }

    }